BACKEND_DIR=../hiclass-api
BACKEND_PORT=3050

FRONTEND_DIR=../hiclass-frontend-react/
FRONTEND_PORT=3060

POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=hiclass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
